# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:

- task: Npm@1
  displayName: 'npm custom'
  inputs:
    command: custom
    verbose: false
    customCommand: 'install newman -g'
- task: carlowahlstedt.NewmanPostman.NewmanPostman.NewmanPostman@4
  displayName: 'Newman - Postman'
  inputs:
    collectionFileSource: '$(System.DefaultWorkingDirectory)/Tests'
    Contents: '**/*collection.json'
    environment: '$(System.DefaultWorkingDirectory)/Tests/host.postman_environment.json'
    ignoreRedirect: false
    bail: false
    sslInsecure: false
    reporters: junit
    htmlExtraDarkTheme: false
    htmlExtraLogs: false
    htmlExtraTestPaging: false
- task: PublishTestResults@2
  displayName: 'Publish Test Results **/newman-*.xml'
  inputs:
    testResultsFiles: '**/newman-*.xml'

